<%- include('partials/header') -%>

<body>
  <h1 id="join-btn">YOU WERE ACUSED OF BEING A ROBOT</h1>
  <button id="again-btn">Click to Play Again</button>
  <script>
  $('#again-btn').click(() => {
    location.href = 'http://localhost:3000';
  })
  </script>
</body>

<%- include('partials/footer') -%>